.gform_wrapper h3.gform_title,
.gform_wrapper h2.gsection_title {
  font-size: 1.75rem !important;
  border-bottom: 3px solid #c46819 !important;
}

.gform_button {
  background-color: $moton-eggplant !important;
  color: #fff !important;
}