.tribe-events-c-search__button {
  color: #fff !important;
  background-color: #48182d !important;
  border-color: #48182d !important;
  border-radius: 0px !important;
  font-family: 'Roboto', sans-serif !important;
}

.tribe-events-calendar-month__day-date-link {
  color: $moton-eggplant !important;
}

.tribe-common .tribe-common-anchor-alt {
  border-bottom: 2px solid $moton-eggplant !important; 
}