
#wrapper-footer-full {
  
  background-color: #1f1f1f;
  color: #fff;
  a {
    color: #fff;
  }
}

#wrapper-footer {
  display: none;
}

.listing-hero .container {
  color: #fff;
}

.cta-container {
  background-color: #1f1f1f;
  color: #fff;
}

.listing-hero {
  background-color: #6c757d;
}