.text-moton-eggplant {
  color: $moton-eggplant;
}

.text-moton-orange {
  color: $moton-orange;
}

.text-moton-blue {
  color: $moton-blue;
}

.text-moton-green {
  color: $moton-green;
}



.border-bottom-moton-eggplant {
  border-bottom: 2px solid $moton-eggplant;
}