@import './child_theme_background'; 
@import './child_theme_navigation'; 

#hero-menu {
  ul {
    list-style-type: none;
    li {
      min-height: 100px;
      font-size: 2em;
    }
  }
}

.text-moton-eggplant {
  color: $moton-eggplant;
}

.text-moton-orange {
  color: $moton-orange;
}

.text-moton-blue {
  color: $moton-blue;
}

.text-moton-green {
  color: $moton-green;
}

#wrapper-navbar nav.navbar {
  border-bottom: 2px solid $moton-green;
}

#wrapper-footer-full {
  
  background-color: #1f1f1f;
  color: #fff;
  a {
    color: #fff;
  }
}

#wrapper-footer {
  display: none;
}

.listing-hero .container {
  color: #fff;
}

.cta-container {
  background-color: #1f1f1f;
  color: #fff;
}

.listing-hero {
  background-color: #6c757d;
}