#index-wrapper,
#single-wrapper,
#page-wrapper {
  padding: 0;
  .content-area {
    background-color: #ededed;
  }
  article {
    background-color: white;
    padding: 1.25rem;
    margin: .5rem 0;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
  }

  .widget-area {
    padding-top: 1rem;
    background-color: #48182D;
    color: white;
    h3.widget-title {
      margin: .5rem 0;
      color: #fff;
    }
    // Override search widget
    aside.widget_search .input-group .btn.btn-primary {
      border-top-right-radius: .75rem;
      border-bottom-right-radius: .75rem;
      color: #fff;
      background-color: #c46819;
      border-color: #c46819;
      &:hover {
        color: #fff;
        background-color: #a25615;
        border-color: #975013;
      }
    }
    aside.tribe-events-list-widget h4.tribe-event-title,
    aside.tribe-events-list-widget h4.tribe-event-title a,
    aside.tribe-events-list-widget p.tribe-events-widget-link a {
      color: #fff !important;
    }

    // Override Recent Events Widget

  }
}